/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Vazirmatn:wght@300&display=swap');

@font-face {
    font-family: 'Varizmatn', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: 'https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap';
}

@font-face {
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Vazirmatn:wght@300&display=swap');
}

* {
    margin: auto;
    padding: 1.4;
    box-sizing: border-box;
}

:root {

    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Varizmatn', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;


    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;
    --border-light: 1px solid rgb(104, 101, 101);
    flex-direction: column;
    transition: .4s;

}

*/TO THE TOP*/ .back-to-top::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -4px auto;
    width: 12px;
    height: 12px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.back-to-top:hover {
    background: var(--pink);
}

.back-to-top:hover::after {
    border-color: var(--secondary-color);
}

.top-bar {
    display: block;
    height: 35px;
    border-bottom: 1px solid var(--secondary-color-1);
    font-size: 14px;
}

.top-bar .container,
.top-bar .row {
    height: 1.4;
}

.top-bar a {
    color: #6D728B;
}

.top-bar a:hover {
    color: var(--pink);
    text-decoration: none;
}

/*----------*/

/*Dark_Day Mode*/

.day-theme {
    flex-direction: row;
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgba(0, 0, 0, 0.856);
    --pink: #81c0ff;
    --invers: #f0e9f2;
    --secondary-color-1: rgba(0, 0, 0, 0.747);
    transition: .4s;
}

.dark-theme {
    flex-direction: row;
    --primary-color: #000;
    --pink: #f08eb7;
    --secondary-color: #f0e9f2;
    --invers: #f0e9f2;
    --secondary-color-1: #e5e5e6da;

    transition: .4s;
}

.colors {
    color: var(--invers);
}

/*----------*/

/*Dark_Day Mode native
@media (prefers-color-scheme:light) {

    body{
    --primary-color:rgb(255, 255, 255);
    --secondary-color: rgba(0, 0, 0, 0.856);
    --pink:#81c0ff;
    --invers:#f0e9f2;
    --secondary-color-1:rgba(0, 0, 0, 0.747);
    transition: .4s;
    }
}

@media (prefers-color-scheme:dark) {

    body{
        --primary-color: #000;
        --pink: #f08eb7;
        --invers:#f0e9f2;
        --secondary-color: #f0e9f2;
        --secondary-color-1: #e5e5e6da;
        transition: .4s;
    }
}
*/
/*
.header{
    background: linear-gradient(rgba(44, 44, 44, 0), rgba(131, 131, 131, 0));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}*/
#span {
    width: 150vw;
    height: 85px;
    position: absolute;

}

#frame {
    font-size: 30px;
    margin: 1, 4;
    float: center;
    color: var(--secondary-color);
    border-radius: 90px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

#frame:hover {
    color: var(--pink);
}


/* --------------------------------------- */
/* ----- Own Edits----- */
/* --------------------------------------- */
.breadcrumb {
    background-color: #F2F4FE;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\2022";
    padding-right: 1rem;
}

.breadcrumb .breadcrumb-item.active {
    color: #a1aab6;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #a1aab6;
}

.breadcrumb-dark .breadcrumb-item a {
    color: rgba(255, 255, 255, .4);
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumb-dark .breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.8);
}

.img-place {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.img-place img {
    width: auto;
    max-width: 100%;
    height: 100%;
}

.bg-img {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img>* {
    position: relative;
    z-index: 10;
}

.bg-img-parallax {
    background-attachment: fixed;
}

.bg-img-overlay-dark {
    position: relative;
}

.bg-img-overlay-dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #33374B;
}

.bg-img-size-contain {
    background-size: contain;
}

.bg-img-size-100 {
    background-size: 100% 100%;
}

#modo {

    font-size: 30px;
    margin: center;
    float: center;
    color: var(--secondary-color);
    border-radius: 90px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;

}

#modo:hover {
    color: var(--pink);
}

/*----------*/
#logo {
    width: 99px;
    ;
}

#span {
    color: var(--secondary-color);
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;


}

#span:hover {
    color: var(--pink)
}

.pink {
    background-color: var(--pinki)
}

/*----------*/
/*Brillo*/
.glowing-circle {
    margin-bottom: var(--gutter-normal);

    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--pink), 0 0 40px var(--pink), 0 0 50px var(--pink), 0 0 60px var(--pink), 0 0 70px var(--pink);
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px var(--pink), 0 0 40px var(--pink), 0 0 50px var(--pink), 0 0 60px var(--pink), 0 0 70px var(--pink), 0 0 80px var(--pink);
    }
}

.glowing-circle {
    margin-bottom: var(--gutter-normal);

    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px var(--pink), 0 0 140px 90px var(--pink);
}

/* --------------------------------------- */
/* -----  HTML ----- */
/* --------------------------------------- */

html {
    font-size: 62.5%;
    /* (16/10)*100 = 62.5% => 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
        position: absolute;

    }
}

body {
    margin-top: calc(100vh + var(--offset));
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--secondary-color-1);
    line-height: var(--line-height-normal);
    background: var(--primary-color);
    overflow-x: hidden;
    transition: .4s;

}

.row {
    position: relative;
    max-width: var(--container-max-width);
    margin: 0 auto;
}


@media screen and (max-width: 1340px) {

    .row {
        position: relative;
        max-width: 1100px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1240px) {
    .row {
        position: relative;
        padding: 0 var(--gutter-medium);
        overflow-x: hidden;
    }
}

@media screen and (max-width: 700px) {
    .row {
        padding: 30 var(--gutter-medium);
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    .row {
        padding: 20 var(--gutter-small);
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 360px) {
    .row {
        padding: 10 var(--gutter-small);
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
    }

}

section {
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--secondary-color);
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}

@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--pink);
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

@media screen and (max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium-1);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small-1) 0;
}

@media screen and (max-width: 900px) {
    p {
        max-width: var(--container-small-width);
    }
}



/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: var(--secondary-color);
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid var(--pink);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

.link:hover {
    color: var(--pink);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--pink);
    font-weight: 400;
}

.btn:focus {
    outline: none;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--secondary-color);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--pink);
}

.btn--pink {
    background: var(--pink);
    transition: all 0.2s;
}

.btn--pink::after {
    display: none;
}

.btn--pink:hover,
.btn--pink:focus {
    background: transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--pink);
}

.link__text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--secondary-color);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
    outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
    right: 0;
    background: var(--pink);
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}

/* ----- Back to Top -----*/

.back-to-top {
    place-self: end;
    position: sticky;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    margin-right: 20px;


}

.back-to-top::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -4px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.back-to-top:hover {
    background: var(--pink);
}

.back-to-top:hover::after {
    border-color: var(--primary-color);
}




.back-to-top__image {
    height: 70%;
}

@media screen and (max-width: 900px) {
    .back-to-top {
        right: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .back-to-top {
        right: 1rem;
    }
}


/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: var(--gutter-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media screen and (max-width: 500px) {
    .nav {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media screen and (max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--secondary-color);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--pink);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--pink);
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

.header {
    background: linear-gradient(rgba(44, 44, 44, 0), rgba(131, 131, 131, 0));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}


.header__text {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-small-width);
    font-family: 'Maven Pro', sans-serif;
    font-size: var(--font-size-small);
}

@media screen and (max-width: 500px) {
    .header {
        text-align: center;
    }

    .header__text p {
        transform: scale(.8);
    }
}

/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- */

.work__box {
    display: flex;
    align-items: center;

}

.card-groups {
    background-color: var(--primary-color);
}

.card-title {
    background-color: var(--primary-color);
}

.card {
    background-color: var(--primary-color);
}



@media screen and (max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

@media screen and (max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
}

.work__list {
    /* list-style-type: square; */
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
    transition: all .2s ease-in;
}

@media screen and (min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media screen and (max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}


/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.about__photo-container {
    margin-bottom: var(--gutter-normal);
}

@media screen and (min-width: 901px) {
    .about__text {
        flex: 0 0 35%;
    }

    .about__photo-container {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
        cursor: pointer;
        transition: all ease-out 0.2s;
    }

}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */
.fa:hover {
    color: var(--pink);
}

.contact__info {
    max-width: var(--container-medium-width);
}

.form-contact {
    max-width: var(--container-medium-width);
}

.form-control {
    max-width: var(--container-medium-width);
    flex: 0 0 35%;
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}


@media screen and (max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    }
}